body {
    background-image: url(./images/mickey-parts.jpg);
}

.jumbotron {
    background-color: darkred;
    color: black;
    font-family: "disneyText";
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

#add-train-btn {
    background-color: darkred;
    color: white;
}

.card-header {
    background-color: darkgoldenrod;
}

@font-face {
    font-family: "disneyText";
    src: url("./waltograph42.ttf")
    format("truetype");
}
